/* Styles for webgl visualisations */

body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

.fileLoader {
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    top: 50px;
    left: 50px;
    background-color: rgba(150, 150, 150, 0.5);
    overflow: hidden;
    color: #7fa5ff;
}

.upload {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    background-color: #004040;
    cursor: pointer;
}

.info {
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 100px;
    right: 100px;
    background-color: rgba(150, 150, 150, 0.5);
    color: #7fa5ff;
}

.infoHeader {
    text-align: center;
}